:root {
    /* Primary */

    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /* Neutral */

    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --bone: hsl(0, 0%, 94%);
    --white: hsl(0, 0%, 100%); 
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'League Spartan', sans-serif;
    background-color: var(--bone);
}

body {
    width: auto;
    background-color: var(--bone);
}

main {
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
    padding-bottom: 1rem;
    height: auto;
    background: url('./images/bg-pattern-top-mobile.svg') top no-repeat, url('./images/bg-pattern-bottom-mobile.svg') bottom no-repeat;
    background-size: contain;
    background-color: var(--white);
}

.intro-box {
    width: 90%;
    padding: 5rem 0 3.5rem;
    margin: 0 auto;
    text-align: center;
}

.intro-box h1 {
    width: 90%;
    margin: 0 auto;
    font-size: 4rem;
    line-height: 3.2rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: var(--very-dark-magenta);
}

.intro-box p {
    width: 100%;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 500;
    color: var(--dark-grayish-magenta);
}

.rate-box {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    color: var(--very-dark-magenta);
    margin-bottom: 5rem;
}

.rate {
    width: 100%;
    padding: 2rem 0;
    background-color: var(--light-grayish-magenta);
    border-radius: 1.2rem;
    margin-bottom: 2rem;
}

.star-box img {
    width: 2.6rem;
    margin: 0 auto;
    padding: 0 0.3rem;
}

.rate p {
    padding-top: 1rem;
}

.comments-box {
    width: 90%;
    margin: 0 auto;
}

.comment {
    width: 100%;
    font-size: 1.8rem;
    background-color: var(--very-dark-magenta);
    border-radius: 1.2rem;
    margin-bottom: 2rem;
}

.comment-header {
    width: 80%;
    margin: 0 auto;
    padding: 4rem 0 3rem;
    display: flex;
    align-items: center;

}

.comment-header img {
    width: 50px;
    border-radius: 50%;
}

.comment-title {
    width: 50%;
    margin-left: 2rem;
}

.comment-title h3 {
    font-weight: 500;
    color: var(--white);
    padding-bottom: 0.5rem;
}

.comment-title p {
    font-weight: 400;
    font-size: 2rem;
    color: var(--soft-pink);
}

.comment > p {
    width: 80%;
    margin: 0 auto;
    font-weight: 500;
    line-height: 2.7rem;
    font-size: 1.9rem;
    color: var(--white);
    padding-bottom: 4rem;
}

footer {
    width: 100%;
    margin: 0 auto;
    max-width: 425px;
    font-size: 1.3rem;
    text-align: center;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    background-color: var(--white);
}

footer > p {
    padding-right: 0.5rem;
}

footer a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1440px) {
    body {
        background-color: var(--white);
        height: 100vh;
    }
    
    main {
        max-width: 1440px;
        height: 93%;
        background: none;
        background-color: var(--white);
        background: url('./images/bg-pattern-bottom-desktop.svg') bottom right no-repeat;
    }

    .main-box {
        width: 90%;
        margin: 0 auto;
        display: flex;
        margin-bottom: 3rem;
    }

    .intro-box {
        width: 50%;
        background: url('./images/bg-pattern-top-desktop.svg') top no-repeat;
        background-size: contain;
        text-align: left;
        margin: 0;
        padding-top: 15rem;
    }

    .intro-box h1 {
        margin-left: 0;
        font-size: 6rem;
        width: 90%;
        line-height: 5rem;
    }

    .intro-box p {
        width: 100%;
        margin-left: 0;
        font-size: 2rem;
        width: 100%;
        line-height: 3rem;
    }

    .rate-box {
        width: 80%;
        padding-top: 15rem;
    }

    .rate {
        width: 70%;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 4rem;
    }

    .one {
        margin-left: 2rem;
    }

    .two {
        margin: 0 auto 2rem;
    }

    .three {
        margin-left: 23.926rem;
    }

    .rate p {
        padding: 0;
        padding-left: 2rem;
    }

    .comments-box {
        display: flex;
        justify-content: space-between;
    }

    .comment {
        width: 32%;
        height: 26.8rem;
    }

    .c-two {
        margin-top: 3rem;
        /* padding-bottom: 3rem; */
    }

    .c-three {
        margin-top: 6rem;
        /* padding-bottom: 6rem; */
    }
}